.profile__info-about {
    max-width: 294px;
    margin: 0;
    padding: 8px 0 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}
@media screen and (max-width: 920px) {
    .profile__info-about {
        text-align: center;
    }

}
@media screen and (max-width: 380px) {
    .profile__info-about {
        font-size: 14px;
        line-height: 17px;
    }

}