.popup__button {
    padding: 22px 0;
    border: 0;
    border-radius: 2px;
    background-color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    box-sizing: border-box;
}

.popup__button:hover {
    cursor: pointer;
    transition: .2s linear 0s;
    opacity: 0.8;
}


@media screen and (max-width: 530px) {
    .popup__button {
        font-size: 14px;
        line-height: 17px;
        padding-top: 14px;
        padding-bottom: 14px;
    }

}