.header {
    width: 100%;
    padding: 45px 15.5% 36px;
    box-sizing: border-box;
    border-bottom: 1px solid #54545470;
}

@media screen and (max-width: 380px) {
    .header {
        padding: 6px 0 0;
    }

}