.header {
    width: 100%;
    max-width: 880px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(84,84,84,.7);
}

@media screen and (max-width: 380px) {
    .header {
        padding: 6px 0 0;
    }

}