.profile__info {
    display: grid;
    padding-left: 33px;
    grid-template-areas: 
    "info-name button-edit"
    "info-about info-about";
    align-items: center;
    flex-wrap: wrap;
    color: #FFFFFF;
}

@media screen and (max-width: 380px) {
    .profile__info {
        padding: 26px 0 0 0px;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.3px;
    }

}