.footer {
    max-width: 880px;
    width: calc(100% - 2 * 200px);
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 50px;
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 282px;
        padding-top: 36px;
        padding-bottom: 18px;
    }

}