.popup__center {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.popup__center::after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: '';
}